p::first-letter {font-size: 36px;}
h1::first-letter{font-size: 42px;}
h1::first-line{color: blue;}
h2::before{content:"*";}
h2::after{content: ":-";}
h2::selection{color: goldenrod;background-color: rgb(172, 33, 125);}
