*
{
   margin: 0;
   padding: 0;
}
.sec1
{
   background-image: url(./image/bg.png);
   background-repeat: no-repeat;
   background-size: cover;
   overflow: hidden;
}
.sec1
{
    padding-bottom: 131px;
}
.foot-flex
{
    padding: 31px 105px 40px 105px;
}
.logo
{
    padding: 14px 0px 12px 21px;
}
.search
{
    padding: 32px 89px 24px 25px;
}
.decoration a
{
    text-decoration: none;
    font-size: 23px;
    font-weight: bolder;
    color: white;
    padding: 0px 10px 0px 10px;   
    border-radius: 10px; 
}
a:hover
{
    background: rgb(104, 27, 192); 
}
.ff
{
    background-color: #303030;
}
.foot
{
    display: flex;
    justify-content: space-between;
}

.decoration
{
    display: flex;
    list-style: none;
}
.decoration li a{
    justify-content: space-between;
}
.title
{
    color: white;
    font-size: 58px; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-left: 95px;
    padding-top: 300px;
}
.lorem
{
    color: white;
    font-size: 20px;
    text-align: left;
    width: 510px;
    padding-top: 12px;
    padding-left: 95px;
    padding-bottom: 12px;
    padding-right: 25px;;
}
button
{
    color: white;
    margin-left: 95px;
    padding: 6px 30px 6px 30px;
    background-color:  orangered;
    border: none;
    font-weight: bold;
    font-size: 16px;
}
.bt
{
    color: white;
    margin-left: 52px;
    margin-bottom: 10px;
    padding: 8px 60px 8px 60px;
    background-color: #303030;
    border: none;
    font-weight: bold;
    font-size: 16px;
}
.bt4
{
    color: white;
    margin-left: 65px;
    margin-bottom: 10px;
    padding: 8px 60px 8px 60px;
    background-color: #303030;
    border: none;
    font-weight: bold;
    font-size: 16px;
}
.bt3
{
    color: white;
    margin-left: 179px;
    margin-bottom: 10px;
    padding: 10px 46px 7px 45px;
    background-color: #303030;
    border: none;
    font-weight: bold;
    font-size: 13px;
}
.bt5
{
    color: white;
    margin-left: 4px;
    margin-bottom: 10px;
    padding: 10px 46px 7px 45px;
    background-color: #303030;
    border: none;
    font-weight: bold;
    font-size: 13px;
}
.sec2
{
    overflow:hidden;
    background-color: orangered;
}
.sec2-3
{
    overflow: hidden;
    background-color: #303030;
}
.sec2-8
{
    overflow: hidden;
    background-color: orangered;
}
.title2
{
    text-align: center;
    color: white;
    padding-top: 80px;
    font-size: 35px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.title5
{
    text-align: center;
    color: white;
    padding-top: 109px;
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.title6
{
    text-align: center;
    color: white;
    padding-top: 8px;
    padding-bottom: 298px;
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.title7
{
    text-align: center;
    color: white;
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.lorem2
{
    color: white;
    font-size: 18px;
    width: 489px;
    padding: 21px 52px 54px 436px;
    text-align: center;
}
.lorem5
{
    color: white;
    font-size: 23px;
    width: 577px;
    padding: 33px 232px 71px 410px;
    text-align: center;
}
.lorem7
{
    color: white;
    font-size: 23px;
    width: 577px;
    padding: 33px 23px 26px 410px;
    text-align: center;
}
.lorem6
{
    color: white;
    font-size: 23px;
    width: 577px;
    padding: 185px 0px 8px 410px;
    text-align: center;
}
.title3
{
    padding: 0px 0px 0px 177px;
    color: white;
    padding-top: 221px;
    font-size: 35px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.lorem3
{
    color: white;
    font-size: 18px;
    width: 471px;
    padding: 21px 0px 31px 167px;
    text-align: center;
}
.title4
{
    padding: 0px 0px 0px 62px;
    color: white;
    padding-top: 221px;
    font-size: 35px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.lorem4
{
    color: white;
    font-size: 18px;
    width: 471px;
    padding: 27px 0px 27px 50px;
    text-align: center;
}
.fig1-3
{
    color: white;
    font-size: 20px;
    width: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0px 0px 3px 107px;
} 
.fig2-3
{
    color: white;
    font-size: 20px;
    width: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0px 0px 4px 71px;
}
.fig3-3
{
    color: white;
    font-size: 20px;
    width: 174px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0px 0px 3px 86px;
}
.fig1-4
{
    color: white;
    font-size: 37px;
    width: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0px 0px 3px 82px;
} 
.fig2-4
{
    color: white;
    font-size: 37px;
    width: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0px 0px 4px 78px;
}
.fig3-4
{
    color: white;
    font-size: 37px;
    width: 174px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0px 0px 3px 86px;
}
.fig1
{
    color: white;
    font-size: 20px;
    width: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0px 0px 4px 91px;
} 
.fig2
{
    color: white;
    font-size: 20px;
    width: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0px 0px 4px 110px;
}
.fig3
{
    color: white;
    font-size: 20px;
    width: 174px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0px 0px 4px 79px;
}
.fc p
{
    color: white;
    font-size: 16px;
    width: 245px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align:center; 
    margin: 0px 10px 6px 10px;  
}
.fc-4 p
{
    color: white;
    font-size: 20px;
    width: 245px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    margin: 0px 10px 122px 10px;
}
.row
{
    display: flex;
    justify-content: space-between;
    margin: 0px 87px 53px 87px;
}
.row3
{
    display: flex;
    justify-content: space-between;
    margin: 0px 87px 98px 87px;
}
.row img
{
    width: 264px;
    height: 43vh;
}
.row3 img
{
    margin: 39px 76px 20px 66px;
    width: 123px;
    height: 25vh;
}
.fccolor3
{
    background-color: orangered;
}
.fccolor
{
    background-color: #303030;
}
.sec3
{
    overflow:hidden;
    background-color: orangered;
    display: flex;
}
.sec3img
{
    width: 633px;
    height: 666px;
}
.text
{
    padding-top: 20px;
}
.text button
{
    background-color: rgb(66, 45, 45);
}
.text3
{
    padding-top: 20px;
}
.text3 button
{
    background-color: rgb(66, 45, 45);
}
.text4
{
    padding-top: 32px;
    padding-right: 109px;
    padding-bottom
}
.text4 button
{
    background-color: rgb(66, 45, 45);
}
.sec4
{
    overflow:hidden;
    background-color: orangered;
    display: flex;
}
.text2
{
    padding-top: 76px;

}
.sec6
{
    background: url(./image/Image.png);
    background-repeat: no-repeat;
    width: 100%;
}
.text2 input
{
    margin-left: 414px;
    margin-bottom: 49px;
    border-radius: 5px;
    padding: 8px 192px 5px 22px;
}
.bgc
{
    background-color: #303030;
    height: 363px;
}
.col-50{
    width: 50%;
}
.col-50 img{
    width: 100%;
}